#content {width:1000px; height:600px; margin:auto; border:1px solid #dadada; margin-bottom:10px;}
#left{width:230px; height:600px; float:left; background:#f5f5f5;}
#right{width:760px; float:left;}
#left_part1{width:120px; height:220px; margin:auto; margin-top:20px;}
#left_part2 a{width:230px; height:45px;line-height:45px; text-align:center; display:block; margin-bottom:2px;}
#left_part2 a img{vertical-align:sub;}
#left_part2 a span{font-size:14px; color:#000;}
#left_part2 a:hover{background:#0fa6ea; display:block; color:#fff;}
.current{background:#0fa6ea; display:block; color:#fff;}
.current span{ color:#fff;}
#right_content{width:710px; margin:auto;}
#right_content_top{width:710px; height:50px; border-bottom:1px solid #dadada; font-size:24px; font-weight:bold; line-height:50px; margin-top:20px;}
#right_content_bottom{width:500px; margin:auto;}

.video{width: 187px; height: 157px; float: left; display: block;}
.video:hover{background: #f0f0f0;  display: block;}
.video_content{width: 175px; height: 145px; margin: auto; margin-top: 4px;}
.video_content_img_title{width: 165px; padding-left: 10px; height: 23px; margin-top: -25px;  line-height: 20px;  color: #fff; position: absolute; opacity: 0.6; background: #000000;}
.video_content_img_title_double{width: 170px; height: 23px; padding-left: 5px; line-height: 23px;  color: #000000; font-size: 14px;}
.count{width: 155px;background:url(../images/12.png) no-repeat; background-position-y: center; padding-left: 20px;}
.bt{height:20px; font-size:14px; line-height:25px; font-weight:bold; width:100px;}
.kong{height:20px;}
.nr{font-size:14px; color:#a8a8a8;}

